.container {
	width: 100wv;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: rgb(43, 43, 43);
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card {
	width: 150px;
	height: 150px;
	background-color: rgb(103, 103, 103);
	border-radius: 10px;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}
